@inherits LayoutComponentBase

<PageTitle>PirMovementBlazorServer</PageTitle>

<div class="page">
    <div class="pir-header">
        <h1 class="pir-header-text">MotionLog</h1>
    </div>
    <main>
        @Body
    </main>
</div>
